/* Global Styles */
html{
    font-size: 62.5%;
}
html,*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
body{
    flex-direction:column;
    justify-content: space-between;
    height: 100vh;
    font-size: 1.6rem;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 2px #3692F8;
}
/* Header */
.top-content{
    justify-content: space-between;

}
/* Main */
#time{
    text-align: center;
    font-size: 5rem;
    /* margin-bottom: 2rem; */
}
/* Footer */
#author{
    font-size: 1.8rem;
    /* margin-bottom: 2rem; */
    margin-left: 1rem;
}